{:dependencies/version 1
 :source-root {:repository "com-etzhayyim-root"
               :revision "ed6a91bbc6d860e35ff69367f5f9304b23f96683"
               :legacy-path "20-actors/ooyake"}
 :runtime []}
