{:repository/layout :standalone
 :canonical-data :edn
 :external-formats {:root "wire"
                    :formats #{:json :json-ld :geojson :html}}
 :source-roots ["src"]
 :test-roots ["test"]
 :deprecated-languages #{:go :tinygo}}
